.login {
  position: relative;
  height: 100%;
	  background: linear-gradient(to bottom, rgb(110, 137, 166) 0%, rgba(0, 0, 0, 0.6) 100%) !important;
	  transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
	  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
	  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
	  -webkit-transform: scale(1);
  